* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

body {
    font-family: monospace;
    background-color: red;
}

main {
    max-width: 768px;
    margin: 0 auto;
    background-color: blue;
    padding: 1rem;
    min-height: 100%;
}

section {
    background-color: white;
    padding: 20px;
}

ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

li {
    padding: 0.8rem 0.5rem;
    background-color: purple;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border-radius: 1rem; */
}

button {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
}

